.footer {
   background-color: var(--bgc-main);
   padding: 60px 0;
 }
 .footer .logo {
   color: #ffffff;
   margin-bottom: 20px;
 }
 .adress-list-item:not(:last-child) {
   margin-bottom: 6px;
 }
 .post-adress,
 .footer-mail,
 .footer-phone {
   display: block;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
 }
 .post-adress {
   color: #ffffff;
 }
 .footer-mail,
 .footer-phone {
   color: rgba(255, 255, 255, 0.6);
 }
 
 .post-adress:hover,
 .footer-mail:hover,
 .footer-phone:hover,
 .post-adress:focus,
 .footer-mail:focus,
 .footer-phone:focus {
   color: var(--accent-color);
 }
 
 .followus .social-list {
   width: 206px;
 }
 .followus .social-link {
   color: #ffffff;
   background-color: #44454e;
 }
 .followus .social-link:hover,
 .followus .social-link:focus {
   background-color: var(--accent-color);
 }
 .followus-title {
   font-weight: bold;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   text-transform: uppercase;
 
   color: #ffffff;
   padding-top: 12px;
   margin-bottom: 20px;
 }
 .footer-wrapper{
   display: flex;
   justify-content: space-between;
 }