.hero {
   height: 600px;
   background-color: var(--bgc-main);
   background-image: linear-gradient(
       to right,
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
     ),
     url(../images/bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
   padding: 200px;
 }
 .caption {
   margin: 0 auto;
   text-align: center;
   width: 696px;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #ffffff;
 }